.displayItem {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  outline: 0;

  .dropdown {
    display: none;
    z-index: 100;
    font-size: 12px;
  }

  &:hover {
    .dropdown {
      display: block;
      position: absolute;
      top: 100%;
      background: white;
      white-space: nowrap;
      right: 0;
      border-top: 3px solid #42b153;
      border-radius: 0 0 5px 5px;
      box-shadow: 0px 0px 10px 0px #e1e1e1;

      li {
        outline: 0;
        padding: 7px 15px;
        cursor: pointer;

        &:hover {
          background: #f8f8f8;
        }
      }
    }
  }
}
