<section class="container">
  <div class="row">
    <div class="columns small-12">
      <h2 class="container-title">سوالات متداول</h2>
    </div>
    <div class="columns">
      <ul>
        <li class="faq" *ngFor="let item of faqItems">
          <p class="faq-title flex-row al-center jus-between" (click)="item.active = !item.active">
            <span>{{ item?.name }}</span>
            <span><i class="fas fa-chevron-down"></i></span>
          </p>
          <p class="faq-desc" [collapse]="!item.active" [innerHTML]="item.describtion"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
