<div class="box mb-20">
  <h2 class="box-title">آدرس تحویل گیرنده</h2>
  <address-card [form]="form" [useInForm]="true" [formCtrlName]="'address_id'" (onSelectAddress)="shippingZoneId = $event.zone; addressHasSet($event.addressId)"></address-card>
</div>
<div class="box">
  <h2 class="box-title">تاریخ و زمان تحویل سفارش</h2>
  <div class="row half-gutter">
    <div class="columns small-12 large-6">
      <dp-date-picker
        #dayPicker
        *ngIf="datePickerConfig"
        [config]="datePickerConfig"
        (close)="getHoursOfDelivery()"
        theme="dp-material"
        [form]="form"
        [formCtrlName]="'date'"
        [handleValidation]="formErrors.date"
      ></dp-date-picker>
    </div>
    <div class="columns small-12 large-6">
      <form-field
        [form]="form"
        (click)="getHoursOfDelivery()"
        [field]="'customInput'"
        [fieldValueText]="selectedHour"
        [formCtrlName]="'hour_id'"
        [label]="'زمان'"
        [handleValidation]="formErrors.hour_id"
      >
      </form-field>
    </div>
  </div>
  <form-field [form]="form" [field]="'textarea'" [formCtrlName]="'comment'" [label]="'توضیحات تکمیلی'"> </form-field>
</div>
