<section class="container">
  <div class="row align-center">
    <div class="columns small-12">
      <h2 class="container-title">
        درباره بنیس فلاور
      </h2>
    </div>
    <div class="columns small-12 mb-30">
      <p class="text-14 text-justify">
        وارد یک گل‌فروشی می‌شوید که همه جایش پر است از رنگ و عطرهایی که حالِ شما را تازه می‌کنند و از میان جام‌ها و
        گلدان‌های پر از گل، فروشنده با لبخندی که دست شما را برای انتخاب، باز می‌گذارد، به شما مثل یک آشنای قدیمی خوش‌آمد
        می‌گوید: «سلام، به بنیس خوش‌ آمدید.»
      </p>
      <p class="text-14 text-justify">
        فعالیت ما در حوزۀ گل و گیاه، لحظه‌ای آغاز شد که حدود هشت سال پیش بذر رزهای
        کاشته شده، در مجموعه گلخانه‌هایمان در روستای باصفای «بنیس»، سر از خاک بیرون آوردند. گسترش تولیدات و حضورما با
        نام تجاری «کشت و صنعت سرین دره بنیس» در بازار باعث شد تا با تشکیل تیم گل‌آرایی، فروشگاه آنلاین و فیزیکی خود را
        راه بیندازیم و روح سبز دنیای گل و گیاه را به خانه، محل کار و مراسم‌های شما دعوت کنیم.
      </p>
      <p class="text-14 text-justify">
        ما تصمیم داریم حاصل تلاش
        چندین سالۀ خود را بدون واسطه و با بهره از دست و ذهن هنرمندان گل‌آرای‌مان و به کمک اینترنت به شما یا او که دوستش
        دارید، برسانیم تا در گوشه‌ای یا روی میزی چشم‌نوازی کند. در فروشگاه اینترنتی بنیس، می‌خواهیم با نگاهی نو، مثل
        حضوری که در بازار گل تهران داشتیم، لذت لمس تازگی شاخه‌های رنگارنگ گل‌ها و برگ‌های سبز گیاهانش را برای عزیزان‌تان
        فراهم کنیم تا شکوفه احساساتی سبز را به شکل هدیه‌ای برازنده و درخور، به آنکه دوستش دارید، تقدیم کنیم.
      </p>
      <p class="text-14 text-justify">
        بنیس پرورش
        دهنده و گل‌آرایی با تجربه و وقت‌شناس در کنار شماست تا تمام ذوق و پاسخی که برای انتخاب هدیه‌ای پر از زندگی نیاز
        دارید، چه هنگام خرید، چه در نگهداری آنها، سخاوتمندانه به شما بدهد و کمک کند ثانیه‌هایی پررنگ‌تر از عمر خود و
        آنها که دوستشان دارید را با گلی ابریشمین ثبت کنید. بنیس با وسواس، بهترین گزینه‌ها را از گلخانه‌هایش یا بازار گل،
        برای شما دستچین کرده و مناسب‌ترین قیمت را پیشنهاد داده و منتظر است، پسند کنید تا متبحرانه‌ آن را طراحی و آرایش
        کند و دقیقا سر وقت، هدیه شما را به مقصد برساند. ما نماینده شما برای روزها و اتفاق‌های مهم زندگیتان هستیم؛ شما با
        ثبت تاریخ‌های ارزشمند شخصیتان در قسمت تقویم بنیس، این افتخار را نصیب ما می‌کنید تا آنها را ابدی کنیم و یادمان
        باشد و شما نیز فراموش نکنید.
      </p>
    </div>
    <div class="columns small-12 large-6">
      <img appLazyLoad src="/assets/images/home/about.png" alt="about benis" />
    </div>
  </div>
</section>
