<section class="container">
  <div class="row">
    <div class="columns small-12">
      <h2 class="container-title">قوانین و مقررات</h2>
    </div>
    <div class="columns">
      <p>
        آیا می‌توانم با حساب کاربری خودم، خرید کنم و فاکتور به نام شخص حقوقی یا شرکت صادر شود؟
        <br />
        بله این امکان وجود دارد اما به هیچ عنوان امکان صدور فاکتور مجدد یا تغییر مشخصات آن از جمله تغییر فاکتور حقیقی به
        حقوقی وجود ندارد. بنابراین لازم است مشتریان هنگام ثبت سفارش، نسبت به این مساله دقت لازم را داشته باشند و اگر
        نیاز دارند که فاکتور حقوقی برای آنها صادر شود، هنگام ثبت سفارش خود، با انتخاب گزینه تکمیل اطلاعات حقوقی و وارد
        کردن مشخصات سازمان مورد نظر، برای خرید سازمانی و دریافت فاکتور رسمی اقدام کنند.
        <br />
        <br />
        با چه کارت‌های بانکی می‌توانم پرداخت وجه سفارش‌ها را انجام دهم؟
        <br />
        با توجه به تدابیری که در سایت فروشگاه گل و گیاه بنیس فلاور اتخاذ کرده‌ایم، با تمام کارت‌های بانکی عضو شتاب
        می‌توانید پرداخت وجه را انجام دهید.
        <br />
        <br />
        می‌‏توانم سفارشم را ابطال کنم یا تغییر بدهم؟ تا پیش از تایید نهایی
        <br />
        سفارش، شما می‌توانید سفارش را از سبد خرید خود حذف و یا اصلاح کنید. پس از تایید نهایی سفارش و اتمام خرید و در
        مرحله پرداخت و ثبت سبد، شما قادر به حذف و تغییر سفارش نیستید. از این مرحله به بعد برای لغو یا تغییر آن، با واحد
        پیگیری سفارشات تماس بگیرید.
        <br />
        <br />
        آیا می‌توانم سفارش خود را لغو کنم؟
        <br />
        پس از تکمیل سفارش شما، واحدهای تامین و گل آرایی مشغول به کار می‌شوند تا سفارش‌تان را آماده کنند. از این زمان به
        بعد امکان بازگشت به عقب وجود ندارد و کالای خریداری شده از لیست موجودی مجموعه گل و گیاه بنیس فلاور خارج می‌شود.
        در نتیجه امکان لغو سفارش وجود ندارد.
        <br />
        <br />
        آیا می‌توانم محصول خریداری شده را مرجوع کنم؟
        <br />
        از آنجا که گل و گیاه موجودات زنده هستند و هیچ دو گیاه یا گلی دقیقا شبیه همدیگر نیستند، ممکن است سفارش‌های شما
        اندکی با تصاویر سایت متفاوت باشد و کالا شامل قوانین مرجوعی نخواهد بود. اما اگر کالا با صدمه فیزیکی به دست‌تان
        برسد و یا گل‌ها پژمرده و بیمار باشند، می‌توانید کالای خریداری شده را به بنیس فلاور مرجوع کنید و یک کالای سالم
        دریافت کنید. لازم به ذکر است که برخی گیاهان آپارتمانی در اثر جا به جایی کمی تغییر حالت می‌دهند. اما پس از مدت
        کمی با محیط جدید سازگار می‌شوند و به حالت عادی بازمی‌گردند و جای نگرانی نیست.
        <br />
        <br />
        در صورت مرجوع شدن کالا، هزینه بازگشت و ارسال مجدد آن‌را چه کسی پرداخت می‌کند؟
        <br />
        در صورتی که قصور بنیس فلاور به اثبات برسد، کالاها با هزینه فروشگاه آنلاین گل و گیاه بنیس فلاور به فروشگاه مرجوع
        می‌‎شوند و پس از تعمیر یا تعویض، مجدد با پیک رایگان خدمت شما ارسال خواهند شد.
        <br />
        <br />
        در صورت بازگشت محصول، هزینه پرداخت شده چگونه بازگشت داده می‌شود؟
        <br />
        تیم پشتیبانی بنیس فلاور با شما خواهد گرفت و پس از دریافت شماره کارت یا شماره حساب، مبلغ در طی سه روز کاری به
        حساب‌تان بازگشت داده خواهد شد.
        <br />
        <br />
        اگر هدیه گیرنده منزل نبود آیا امکان ارسال در روزهای دیگر وجود دارد؟
        <br />
        در صورت مراجعه در بازه زمانی انتخابی شما و عدم حضور گیرنده امکان برگشت محصول به بنیس فلاور و ارسال مجدد آن وجود
        دارد و هزینه‌ی ارسال آن به عهده خریدار می‌باشد.
        <br />
        <br />
        آیا امکان ارسال عکس سفارش وجود دارد؟
        <br />
        با توجه به حجم بالای سفارش‌ها، ما تلاش کرده‌ایم تا با تهیه عکس‌هایی واقعی و بدون دستکاری، حالت واقعی محصول را
        برایتان نمایش بدهیم. در نتیجه امکان ارسال عکس‌های بیشتر وجود ندارد و تیم بنیس زمانش را صرف بهتر و زیباتر شدن
        گل‌تان خواهد کرد.
        <br />
        <br />
        آیا می‌توانم همراه سفارش یک هدیه ارسال کنم؟
        <br />
        با توجه به ماهیت رویداد مورد نظرتان، می‌توانید از بخش هدایای مکمل سایت، هدیه‌ای را انتخاب کرده و سفارش دهید. اما
        اگر هدیه‌ی دیگری را در نظر دارید تا همراه با گل ارسال شود، فروشگاه آنلاین بنیس فلاور از پذیرش آن معذور ا
        <br />
        <br />
        آیا پس از تحویل گل، از گیرنده رسید دریافت می‌‌شود؟
        <br />
        در حال حاضر بنیس فلاور چنین خدماتی ندارد. مگر اینکه این موضوع برای شما مهم باشد و بخواهید که پس از تحویل سفارش
        از گیرنده رسید، امضا یا عکس تهیه شود. ضمنا در صورتی که سفارش شما تاج گل برای موقعیت‌های خاص مانند ترحیم یا
        نمایشگاه‌ها باشد و نتوانیم آن‌را به کسی تحویل دهیم، آن‌را در موقعیت مناسبی می‌گذاریم و برایتان از آن عکس تهیه
        می‌کنیم.
        <br />
        <br />
        آیا گل مصنوعی هم دارید؟
        <br />
        خیر، تمام محصولات بنیس فلاور با گل‌های طبیعی آماده می‌شوند و امکان تعویض آنها با گل‌های مصنوعی وجود ندارد.
      </p>
    </div>
  </div>
</section>
